[user]
	email = tokizuoh@gmail.com
	name = tokizuoh
[core]
	excludesfile = ${HOME}/.gitignore_global

[init]
    defaultBranch = main
[push]
    autosetupremote = true
[diff]
    algorithm = histogram
