[user]
    email = tokizuoh@gmail.com
    name = tokizuoh
	signingkey = 81BEADC8008C8EFE
[init]
    defaultBranch = main
[push]
    autosetupremote = true
[diff]
    algorithm = histogram
[branch]
    sort = -committerdate
[fetch]
    prune = true
[log]
    date = iso
[commit]
	gpgsign = true
