[user]
    email = tokizuoh@gmail.com
    name = tokizuoh
[core]
    # TODO: $XDG_CONFIG_HOME
    excludesfile = ${HOME}/.gitignore_global

[init]
    defaultBranch = main
[push]
    autosetupremote = true
[diff]
    algorithm = histogram
[branch]
    sort = -committerdate
[fetch]
    prune = true
[log]
    date = iso
